<div class="row">
  <div class="col-12 custom-scroll">
   
       
        <div class="card" id="print-section">
          <div class="card-body">
            <h5 class="card-title">Receta médica</h5>


            <div class="mb-1">
              <label class="col-form-label ">Nombres y apellidos: 
                 <span>{{attentionSelected.patient.name}} {{attentionSelected.patient.paternalLastName}} {{attentionSelected.patient.maternalLastName}}</span>
                 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                 Edad: 
                 <span>{{attentionSelected.patient.age}} años </span>
                 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                 H.C: 
                 <span>{{attentionSelected.patient.clinicalHistoryNumber}} </span>
                </label>
            </div>

            <label class="col-form-label ">Diagnóstico(s)</label>
            <div class="diagDiv">
              <span *ngFor = "let diagnosis of attentionSelected.diagnoses ; last as isLast">
              <span>{{diagnosis.name}}</span> <span *ngIf="!isLast">,</span>
              </span>
            </div>
            
            <label class="col-form-label">Medicamento(s)</label>

            <form #attentionTreatement="ngForm" class="row g-3 needs-validation">
              
              <div class="col-12">
                <table class="table table-bordered" style="margin-bottom: 0">
                  <thead>
                    <tr>
                      <th scope="col">Cant.</th>
                      <th scope="col">Medicamento</th>
                      <th scope="col">Dosis</th>
                      <th scope="col">Frec.</th>
                      <th scope="col">Duración</th>
                      <th scope="col">Vía</th>
                    </tr>
                  </thead>
                  <tbody>                            
    
                    <tr *ngFor = "let treatment of attentionSelected.treatments">
                      <td>{{treatment.quantity}}</td>
                      <td>{{treatment.medicine.name}}</td>
                      <td>{{treatment.dose}} {{treatment.doseUn}}</td>
                      <td>{{treatment.frequencyNumber}} {{treatment.frequencyType}}</td>
                      <td>{{treatment.durationNumber}} {{treatment.durationType}}</td>
                      <td>{{treatment.routeAdministration}}</td>
                    </tr>
    
                  </tbody>
                </table>
              </div>
              
              <div class="col-md-12">

                <label class="col-form-label">Recomendaciones</label>
                <div >
                  <textarea  #recommendations="ngModel" [(ngModel)]="attentionSelected.recommendations" name="recommendations" type="text" class="form-control" id="Address" disabled> </textarea>
                </div>
              </div>

            
              <div class="col-4 date ">
                <label class="col-form-label mb-1">Fecha de atención:&nbsp; </label>
                <p >{{attentionSelected.updateDate | slice:0:10}}</p> 
              </div>
    
              <div class=" col-4 date">
                <label class="col-form-label mb-1">Valido hasta:&nbsp; </label>
                <p >{{attentionSelected.expirationDate}}</p> 
              </div>

              <div class="col-4">

                <label class="col-form-label">Profesional</label>
                <div>
                  <img src="{{attentionSelected.healthPersonnel.signature}}" style="height: 50px;" alt="">
                </div>
                <div class="healthPersonnel-info">
                  {{attentionSelected.healthPersonnel.name}}  
                  {{attentionSelected.healthPersonnel.paternalLastName}}
                  {{attentionSelected.healthPersonnel.maternalLastName}}
                    
                </div>
                <div class="healthPersonnel-info">
                  {{attentionSelected.healthPersonnel.specialty}}  
                </div>
                <div class="healthPersonnel-info">
                  Doc. Identidad: {{attentionSelected.healthPersonnel.documentNumber}}  
                </div>
                  
              </div>
            </form>
          </div>
        </div>
        <button class="btn  btn-outline-secondary print-button" [print]="['print-section']"><i class="bi bi-printer-fill"></i>
        </button>
  </div>

</div>