.invalid-form {
    font-size: 0.875em;
    color: #dc3545;
    height: 21px;
}
.invalid-input {
    border-color: #dc3545;
}

.custom-alert {
    position: absolute;
    top: 63px;
    right: 28px;
}