<div class="row">
      
    <div class="col-lg-12">

      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Registro de paciente</h5>

          <form #formPatient="ngForm"  class="row g-3 needs-validation" >
            <div class="col-md-3">
              <label for="validationCustom001" class="form-label">Tipo Documento</label>
              <select class="form-select" disabled>
                <option selected disabled value="">DNI</option>
              </select>
            </div>
            <div class="col-md-3">
              <label for="validationCustom002" class="form-label">Número Documento</label>
              <input type="number" #documentNumber="ngModel" [(ngModel)]="patientModel.documentNumber" name="documentNumber" disabled>
            </div>
            <div class="col-md-3">
              <label for="validationCustom003" class="form-label">Historia clínica</label>
              <input type="number" #clinicalHistoryNumber="ngModel" [(ngModel)]="patientModel.clinicalHistoryNumber" name="clinicalHistoryNumber" disabled>
            </div>
            <div class="col-md-3">
              <label for="validationCustom004" class="form-label">Código asegurado</label>
              <input type="number" #insuredCode="ngModel" [(ngModel)]="patientModel.insuredCode" name="insuredCode" disabled>
            </div>
            <div class="col-md-4">
              <label for="validationCustom005" class="form-label">Nombre(s)</label>
              <input type="text" #name="ngModel" [(ngModel)]="patientModel.name" name="name" class="form-control" disabled>
            </div>

            <div class="col-md-4">
              <label for="validationCustom006" class="form-label">Apellido Paterno</label>
              <input type="text" #paternalLastName="ngModel" [(ngModel)]="patientModel.paternalLastName" name="paternalLastName"  class="form-control" disabled>
            </div>
            <div class="col-md-4">
              <label for="validationCustom001" class="form-label">Apellido Materno</label>
              <input type="text" #maternalLastName="ngModel" [(ngModel)]="patientModel.maternalLastName" name="maternalLastName"  class="form-control" disabled>
            </div>
            <div class="col-md-4">
              <label for="validationCustom001" class="form-label">Sexo</label>
              <select class="form-select" [(ngModel)]="patientModel.sex" name="sex" disabled>
                <option *ngFor="let sex of Sex" [ngValue]="sex">{{sex}}</option>
              </select>
            </div>
          
            <div class="col-md-4">
              <label for="validationCustom001" class="form-label">Fecha Nacimiento</label>
              <input type="date" #birthDate="ngModel" [(ngModel)]="patientModel.birthDate" name="birthDate"  class="form-control" disabled>
            </div>

            <div class="col-md-4">
              <label for="validationCustom001" class="form-label">Financiador</label>
              <select class="form-select" id="validationCustom009" disabled>
                <option selected disabled value="">S.I.S.</option>
                <option>Externo</option>
              </select>
            </div>
            
          </form>

        </div>
      </div>

    </div>
  </div>