<div id="main" class="main">

    <div class="pagetitle">
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="">Home</a></li>
          <li class="breadcrumb-item">Listado de citas</li>
        </ol>
      </nav>
    </div><!-- End Page Title -->

    <div class="row" *ngIf="!loaded">
      <div class="col-12">
        Cargando...
      </div>
    </div>
    
    <div class="row" *ngIf="loaded && !appointments.length">
      <div class="col-12">
        No existe citas pendientes.
      </div>
    </div>

    <div class="section" *ngIf="loaded && appointments.length">
      <div class="row">
      
        <div class="col-lg-12">

          <div class="card">
            <div class="card-body">


              
              <h5 class="card-title">Citas pendientes</h5>

              <div class="col-12">
                  
                <table class="table table-bordered">
                  <thead>
                    <tr>
                      <th scope="col">Fecha</th>
                      <th scope="col">Hora</th>
                      <th scope="col">Servicio</th>
                      <th scope="col">Paciente</th>
                      <th scope="col">H.C</th>
                      <th scope="col">C.A</th>
                      <th scope="col">Edad</th>
                      <th scope="col">Sexo</th>
                      <th scope="col"></th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let appointment of appointments">
                      <td>{{appointment.day}}</td>
                      <td>{{appointment.startHour | slice:0:5}}</td>
                      <td>Consulta Externa</td>
                      <td>{{appointment.patient.name}} {{appointment.patient.paternalLastName}} {{appointment.patient.maternalLastName}}</td>
                      <td>{{appointment.patient.clinicalHistoryNumber}}</td>
                      <td>{{appointment.patient.insuredCode}}</td>
                      <td>{{appointment.patient.age}}</td>
                      <td>{{appointment.patient.sex}}</td>
                      <td>
                        <button type="button" class="btn btn-light" (click)="goAttention(appointment)">Atender</button>
                      </td>
                    </tr>
                    
                  </tbody>
                </table>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>

</div><!-- End #main -->



